/* Tag selector to select the 'body' element */
body{
 background-color: #00b3e6; /*light blue background for the entire document*/

}

div{

 width: 700px; /*set the width of div elements*/
 margin: auto; /*center the div elements horizontally*/
 font-family: "Helvetica Neue"; /*set the font family*/
 background-color:  white; /*white background for div elements*/
 padding: 30px; /*create an invisible area space around the div elements*/

}

/* ID selector to select the element with id 'main-header' */
#main-header{
  /* Your code here! */
 color: red;
 font-size:  22px;
}

/* Class selector to select elements containing the class 'perspective-questions' */
.perspective-questions{
 font-style: italic;

}
